attrs==19.3.0
bcrypt==3.1.7
cffi==1.14.0
cryptography==2.9.2
importlib-metadata==1.7.0
more-itertools==8.4.0
packaging==20.4
paramiko==2.7.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
PyNaCl==1.4.0
pyobjc-core==6.2.2
pyobjc-framework-Cocoa==6.2.2
pyparsing==2.4.7
pytest==5.4.3
rumps==0.3.0
six==1.15.0
sshtunnel==0.1.5
toml==0.10.1
wcwidth==0.2.5
zipp==3.1.0
